<% provide(:title, "About") %>
<h1>About</h1>


<div class="row justify-content-center">
  <div class="col-8">
    <p class = "h2">Overview</p>
    <p class="text-justify">This project is developed in partial fulfillment of the requirements of Server Side Development module in Software Development program in National College of Ireland</p>
    <p class="text-justify">The main objective of this mini-project is to develop a Customer Support application for the Sports domain which operates on the Customer-Cases entity relationship</p>

    <p class = "h2 mt-4">Features</p>
    <div class="row card-deck justify-content-center mt-4">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Server Side</div>
            <div class="card-body">
            <h5 class="card-title">Ruby on Rails</h5>
            <p class="card-text">The application is running on top of Ruby on Rails framework and using Postgres in deployment</p>
            </div>
        </div>

        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">User Authentication</div>
            <div class="card-body">
            <h5 class="card-title">Sign Up and Login</h5>
            <p class="card-text">The user authentication is implemented by using bscrypt gem and by leveraging proper session management</p>
            </div>
        </div>

        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Front End</div>
            <div class="card-body">
            <h5 class="card-title">Bootstrap</h5>
            <p class="card-text">The front end styles use the Bootstrap framework and plain CSS.</p>
            </div>
        </div>
    </div>

    <p class = "h2 mt-4">Assignment Progress</p>
    <ul class="list-group mt-4">
    <li class="list-group-item d-flex justify-content-between align-items-center active">
        Feature Development Status
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Static Pages
        <span class="badge badge-success">Done</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Sign Up
        <span class="badge badge-success">Done</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Basic Log In Through Session Management and Bcrypt Authentication
        <span class="badge badge-success">Done</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Advanced Log In Through Cookie Managment and Bcrypt Encryption
    <span class="badge badge-success">Done</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        User Authorization
    <span class="badge badge-success">Done</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Customer Index Pagination
    <span class="badge badge-success">Done</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Administrative Deletion
    <span class="badge badge-success">Done</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Cases Model
        <span class="badge badge-primary">In Progress</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        User Profile Page
        <span class="badge badge-primary">In Progress</span>
    </li>
    </ul>


    <p class = "h2 mt-4">Personal Notes on Advanced Login</p>
    <p class="text-justify">Step 1: Create a remember token for the customer</p>
    <p class="text-justify">Step 2: Create a digest out of the remember token and add the digest to the database</p>
    <p class="text-justify">Step 3: Send the remember token to browser cookie</p>
    <p class="text-justify">Step 3: Send the encrypted user id to browser cookie</p>

    <p class = "h2 mt-4">Other Notes</p>
    <p class="text-justify">Additional Gem 1:Used <strong>will_paginate</strong> to add pagination to customers and cases</p>
    <p class="text-justify">Additional Gem 2: Used <strong>faker</strong> gem to seed db with test names, phone numbers, addresses, game title and description</p>

  </div>
</div>