<% provide(:title, "Home") %>
<div class="center jumbotron bg-white mt-5">
  <h1 class="display-4">Soccer Games Support</h1>
  <p class="lead">Customer Support Application</p>
  <p class="lead">
      <%= link_to "Sign Up Now!", signup_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>

