<%= provide(:title, 'Log in') %>
<h1>Log In</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= render 'shared/login_form' %>
      <p class="text-center">New User? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</div>

