<% provide(:title, "Update Case") %>
<% provide(:button_text, "Save changes") %>


<h1>Edit Case</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= render 'form' %>
    </div>
  </div>
</div>

