<% provide(:title, "Cases") %>
<h1><%= pluralize(@issues.count, 'Open Case') %> in the Queue</h1>
<div class="issues col">
<%= render @issues %>
<nav class =  'row justify-content-center'>
<%= will_paginate(:renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm') %>
</nav>
</div>