<% provide(:title, "Customers") %>
<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<nav class =  'row justify-content-end'>
<%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm') %>
</nav>

<ul class="customers">
  <%= render @customers %>
</ul>

<nav class =  'row justify-content-end'>
<%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm') %>
</nav>