<% provide(:title, "Customers") %>
<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<ul class="users">
  <% @customers.each do |customer| %>
    <li>
      <%= gravatar_for customer, size: 50 %>
      <%= link_to customer.name, customer %>
    </li>
  <% end %>
</ul>