<footer class="footer">
  <small>
    The <%= link_to "Soccer Games Customer Support", root_path %></a>
    by <a href="https://www.linkedin.com/in/wilmirnicanor/" target="_blank">Wilmir Nicanor</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <% unless logged_in? %>
        <li><%= link_to "Sign Up",   login_path %></li>
        <li><%= link_to "Log In", login_path%></li>
      <% end %>
    </ul>
  </nav>
</footer> 