<header class="navbar navbar-expand-md navbar-light bg-transparent">
<div class="container">
  <%= link_to "NCI Sports", root_path, class: "navbar-brand mb-0 h1 text-primary" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <%= link_to "Login", "#", class:"nav-item nav-link active" %>
    <%= link_to "Customers", customers_path, class:"nav-item nav-link" %>
    <%= link_to "Cases", "#", class:"nav-item nav-link" %>
    </div>
  </div>
</header>
